<!DOCTYPE html>
<html>
<head>
 	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Q+A" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor/custom.modernizer' %>
  <%= csrf_meta_tags %>
</head>
<body>
			<nav class="top-bar">
				 <section class="top-bar-section">
					<ul class="right">
			      <li class="divider"></li>
						<% if user_signed_in? %>
			      	<li><%= link_to 'Log Out', destroy_user_session_path(:logout =>"logout"), :method => :delete %></li>
			    	<%end%>
					</ul>
					</div>
			</nav>

			<div class="row">
				<div class="small-8 columns">
					<%=yield%>
					<%= render 'layouts/user_widget' %>
				</div>
				<div class="small-4 columns">
				</div>

			</div>

	    <%= javascript_include_tag "application" %>

			<% flash.each do |key, value| %>
			        <div class="alert-box round <%= flash_class(key) %>">
									<%logger.info("@@@@@@Value: #{value}")%>
	 							<%= value %>
			        </div>
			  <% end %>
	  </body>
	</html>
